<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Доктор</title>
</head>
<body>
<div th:insert="fragments/header.html"></div>

<div class="row my-md-4 justify-content-center">
    <div class="row col-sm-8 justify-content-center">
        <img th:src="${'/images/staff/' + doctor.imageId}" style="height: 250px; width: auto; margin-bottom: 20px"/>
        <h2 th:text="${doctor.firstName} +' '+ ${doctor.lastName}" style="text-align: center"></h2>
        <div th:text="${doctor.specialty.displayName}" style="text-align: center"></div>
        <div th:text="${doctor.info}" style="text-align: center"></div>
    </div>
</div>

</body>
</html>