<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Log In</title>
</head>
<body>
<div style="position: absolute; top:35%; left: 43%; font-size: 20px">
    <form th:action="@{/user/login}" method="post" th:object="${userModel}">
        <input th:field="*{username}" placeholder="username">
        <p th:if="${#fields.hasErrors('username')}" th:errors="*{username}"></p>
        <br>
        <input th:field="*{password}" placeholder="password" type="password">
        <p th:if="${#fields.hasErrors('password')}" th:errors="*{password}"></p>
        <br>
        <button>Submit</button>
        <br>
    </form>
    <form action="/">
        <input type="submit" value="Back" />
    </form>
</div>
</body>
</html>