<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <title>Log In</title>
</head>
<body>
<div th:insert="fragments/header.html"> </div>

<div class="row my-md-4 justify-content-center">
    <div class="row col-sm-8 justify-content-center">
        <h2 style="text-align: center">Вход</h2>

        <form th:action="@{/user/login}" method="post" th:object="${userModel}" style="text-align: center">
            <input th:field="*{username}" placeholder="username">
            <p th:if="${#fields.hasErrors('username')}" th:errors="*{username}"></p>
            <br>
            <input th:field="*{password}" placeholder="password" type="password">
            <p th:if="${#fields.hasErrors('password')}" th:errors="*{password}"></p>
            <br>
            <button style="margin-top: 10px; margin-bottom: 10px">Submit</button>
            <br>
        </form>
        <form action="/" style="text-align: center">
            <input type="submit" value="Back" />
        </form>
    </div>
</div>

<!--<div class="container">-->
<!--    <form>-->
<!--        <div class="mb-3">-->
<!--            <label for="exampleInputEmail1" class="form-label">Email address</label>-->
<!--            <input type="email" class="form-control" id="exampleInputEmail1" aria-describedby="emailHelp">-->
<!--            <div id="emailHelp" class="form-text">We'll never share your email with anyone else.</div>-->
<!--        </div>-->
<!--        <div class="mb-3">-->
<!--            <label for="exampleInputPassword1" class="form-label">Password</label>-->
<!--            <input type="password" class="form-control" id="exampleInputPassword1">-->
<!--        </div>-->
<!--        <div class="mb-3 form-check">-->
<!--            <input type="checkbox" class="form-check-input" id="exampleCheck1">-->
<!--            <label class="form-check-label" for="exampleCheck1">Check me out</label>-->
<!--        </div>-->
<!--        <button type="submit" class="btn btn-primary">Submit</button>-->
<!--    </form>-->
<!--</div>-->

</body>
</html>