<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Специалисты</title>
</head>
<body>
<div th:insert="fragments/header.html"></div>

<div class="row justify-content-center" style="margin-top: 40px; background-color: #e8e8ea">
    <div class="row col-8 justify-content-center" style="background-color: white">
        <h2 style="text-align: center">Наши врачи</h2>
        <p style="text-align: center">
            Предлагаем Вам воспользоваться удобным поиском для более быстрого поиска специалистов.
        </p>
        <div class="col-sm-6" style="text-align: center;" th:each="doctor : ${staff}">
            <a th:href="${'/staff/doctor/' + doctor.id}">
                <img th:src="${'/images/staff/' + doctor.imageId}" style="height: 180px"/>
                <div th:text="${doctor.firstName} +' '+ ${doctor.lastName}"></div>
                <div th:text="${doctor.specialty.title}"></div>
                <br>
            </a>
        </div>
    </div>
</div>

</body>
</html>