<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Home</title>
</head>
<body>
<div style="position: absolute; top:35%; left: 45%; font-size: 20px">
    <h2 th:if="${session.currentUser != null}" th:text="${'Hello, ' + session.currentUser.getName() + '!'}"
         style=" margin-left: -35px;"></h2>
    <br th:if="${session.currentUser == null}">

    <a th:if="${session.currentUser == null}" href="/user/reg">Registration</a>
    <br th:if="${session.currentUser == null}">

    <a th:if="${session.currentUser == null}" href="/user/login">Log In</a>
    <br th:if="${session.currentUser == null}">

    <a th:if="${session.currentUser != null}" href="/calc/main">Calculator</a>
    <br th:if="${session.currentUser != null}">

    <a th:if="${session.currentUser != null}" href="/calc/history">History</a>
    <br th:if="${session.currentUser != null}">

    <a th:if="${session.currentUser != null}" href="/user/account">Settings</a>
    <br th:if="${session.currentUser != null}">

    <a th:if="${session.currentUser != null}" href="/user/logout">Logout</a>
</div>
</body>
</html>