<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Регистрация</title>
</head>
<body>
<div th:insert="fragments/header.html"></div>

<div class="row justify-content-center" style="margin-top: 40px">
    <div class="row col-8">
        <h4 style="text-align: center">Регистрация</h4>

        <form th:action="@{/user/signup}" method="post" th:object="${userDto}" style="text-align: center">
            <input th:field="*{firstName}" placeholder="Имя" style="margin-bottom: 10px">
            <br>
            <input th:field="*{lastName}" placeholder="Фамилия" style="margin-bottom: 10px">
            <br>
            <input th:field="*{username}" placeholder="Логин" style="margin-bottom: 10px">
            <br>
            <input th:field="*{phone}" placeholder="Номер телефона" style="margin-bottom: 10px">
            <br>
            <input th:field="*{password}" placeholder="Пароль" type="password" style="margin-bottom: 10px">
            <br>
            <input type="submit" value="Подтвердить" style="margin-bottom: 10px"/>
            <br>
            <div class="alert" th:if="${message}" th:text="${message}"></div>

        </form>
    </div>
</div>

</body>
</html>