<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>О центре</title>
</head>
<body>
<div th:insert="fragments/header.html"></div>

<div class="row justify-content-center" style="margin-top: 40px">
    <div class="col-8">
        <h2 style="text-align: center">О медицинском центре</h2>
        <p style="text-align: center">
            «DS» – это сеть медицинских центров для всей семьи, в которых оказывается широкий спектр
            амбулаторно-поликлинической помощи, включая стоматологию, пластическую хирургию,
            косметологию и диагностическое отделение.
            <br>
            Директор центра - Шундрик Дмитрий Евгеньевич.
        </p>
    </div>
</div>

</body>
</html>